/*VARIABLES*/
$color-mediafit: #d3e82b;
$sombra-box: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$background-items: #252525;

@mixin img-fondo {
    padding: 1%;
    background-repeat: space;
    background-attachment: fixed;
}
*, ::after, ::before {
    box-sizing: unset;
    }


body{
    background-color: #0f1015;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
}

#contenedor-total{
    position: relative;
    min-height: 100vh;
}

/*NAV BAR*/
header{
    background-color: #1a1919;
    width: 100%;
    padding-top: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    nav{
        background-color: #1a1919;
        box-shadow: $sombra-box;
        .logo{
            position: absolute;
                img{
                    margin-top: 3%;
                    margin-left: 20%;}            
        }
        #navegador{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 2%;
            div{
                .paginaActiva {
                    background-color: #353434;
                    color: $color-mediafit !important;}
                a{
                    display: block;
                    padding: 10px;
                    font-weight: 600;}
                    :hover{
                        background-color: #302f2f;
                        color: white;
                        text-decoration: none;
                        transition: .4s;}      
            }
        }
    }
    label{
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        :hover{
            cursor: pointer;
            background: rgba(0, 0, 0, 0.3);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}
#btn-menu {
    display: none;
}

main{
    text-align: center;
    padding-bottom: 20px;}
.fondo__index{
    background-image: url(../Imagenes/wallpaperbetter.com_1920x1080.jpg);
    @include img-fondo;}
.fondo__gimnasio{
    background-image: url(../Imagenes/FondoSeccionGimnasio.jpg);
    @include img-fondo;}  
.fondo__staff{
    background-image: url(../Imagenes/Fondo-gimnasio.jpg);
    @include img-fondo;}
.fondo__planes{
    background-image: url(../Imagenes/Fondos.jpg);
    @include img-fondo;}
.fondo__contacto{
    background-image: url(../Imagenes/fondoConsultas.jpg);
    @include img-fondo;}  
      

/*INDEX*/
.intro{
    margin-top: 25vh;
    margin-bottom: 25vh;
    margin-left: 50%;
    text-align: left;
    .intro__cambio{
        color: $color-mediafit;
        font-size: 40px;
        font-weight: bolder;
        text-shadow: 2px 2px 20px black;}
        .intro__parrafo{
            font-size: 19px;
            font-weight: 500;
            text-shadow: 2px 2px 20px black}   
    .intro__inscribirme{
        margin-top: 60px;
        a{
            background-color: $color-mediafit;
            color: black;
            padding: 12px 30px 12px 30px;
            border-radius: 3px;}
            :hover{
                background-color: $background-items;
                color: $color-mediafit;
                border: 1px solid  $color-mediafit;
                transition: .4s;}
        }
}

/*STAFF*/
.tablaStaff{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    .tablaStaff__item{
        margin: 1%;
        width: 600px;
        height: 250px;
        display: flex;
        align-items: flex-start;
        background-color: $background-items;
        border-radius: 5px;
        box-shadow: $sombra-box;}
        .tablaStaff__item__img{
            margin-left: 0px;
            height: 100%;}
        .tablaStaff__item__nombre{
            color: $color-mediafit;
            margin-top: 0;
            margin-bottom: 0;
        }
        .tablaStaff__item__skill{
            margin-left: 10%;
            margin-top: 11%;
            font-size: 15px;}
}

/*GIMNASIO*/
.fondo__gimnasio{
    padding-top: 1%;}

main{
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    .sedeDireccion{
        display: flex;
        align-items: center;
        background-color: $background-items;
        width: 100%;
        height: 250px;
        box-shadow: $sombra-box;
        margin-top: 80px;
        margin-bottom: 25px;
        .mapa{
            height: 100%;
            width: 40vw;
            padding-left: 10vw;            
            margin-left: 0px;
        }
        .infoMapa{
            text-align: left;
            margin-left: 50px;
            margin-top: 10px;
            h2{
                font-size: 19px;
                color: $color-mediafit;
                font-weight: bold;
                padding-bottom: 10px;                                            
            }
            p{
                line-height: 10px;
                margin-top: 15px;
                font-weight: 400;  
            }         
        }    
    }
    .videoyoutube{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        background-color: $background-items;
        width: 100%;
        height: 250px;
        box-shadow: $sombra-box;
        margin-top: 80px;
        margin-bottom: 25px;
        .videoGim{
            width: 40vw;
            height: 100%;
            padding-right: 10vw;
        }
        .infoVideo{
            text-align: right;
            padding-right: 50px;
            margin-top: 0px;
            h2{
                font-size: 19px;
                color: $color-mediafit;               
                font-weight: bold;
                padding-bottom: 10px;                     
            }
            p{
                line-height: 10px;
                margin-top: 15px;
                font-weight: 400;            
            }   
            
        }
    }
}    

/*PLANES*/

.contenedorTabla{
    display: flex;
    justify-content: center;
    .contenedorTabla__planes{
        display: grid;
        width: 670px;
        grid-template-areas: 
            "titulo titulo titulo"
            "plan1 plan2 plan3"
            ". plan2 ."
            ". plan2 ."
            "contacto contacto contacto";
        grid-template-columns: 4fr 5fr 4fr;
        grid-template-rows: 50px 300px 50px 25px 50px;
        grid-gap: 10px; 
        padding: 10px;
        justify-content: center;
        align-content: center;}
        ul{
            margin-top: 15px;
            font-size: 14px;
            margin-bottom: 15px;
            li{
                padding-top: 15px;}
        }
        div{
            div{
                .boton-buy{
                    background-color: $color-mediafit;
                    a{
                        color: #0e1016;
                        display: block}
                    &:hover{
                        background-color: #b9cc2c;
                        color: $color-mediafit;
                        transition: .4s;}
                        &:hover a{
                            color: white;
                            transition: .4s;
                        }
                                           
                }  
            }                 
        }  
        .contenedorTabla__planes__box1{
            grid-area: titulo;
            background-color: $background-items;
            box-shadow: $sombra-box;}
        .contenedorTabla__planes__box2{
            grid-area: plan1;
            display: grid;
            grid-template-rows: 50px auto 50px;
            grid-row-gap: 10px;
            div{
                background-color: $background-items;}
            }
        .contenedorTabla__planes__box3{
            grid-area: plan2;
            display: grid;
            grid-template-rows: 50px auto 50px 25px;
            grid-row-gap: 10px;
            div{
                background-color: $background-items;
                border: 1px dotted $color-mediafit;}
            }
        .contenedorTabla__planes__box4{
            grid-area: plan3;
            display: grid;
            grid-template-rows: 50px auto 50px;
            grid-row-gap: 10px;
            div{
                background-color: $background-items;}
            }
        .contenedorTabla__planes__box5{
            grid-area: contacto;
            background-color: $background-items;}
}                         
            .colorpro{
                color: $color-mediafit;
            }        
    
/*CONTACTO*/
.fondo__contacto{
    padding: 1%;
    padding-right: 10%;
    padding-left: 10%;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $background-items;
    padding: 5vh;
    margin-bottom: 5vh;
    form{
        width: 60vw;
        .row{
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 5vh;
            font-size: 19px;
            font-weight: 400;
        }        
        .btn-primary{
            background-color: $color-mediafit;
            border: none;
            font-weight: bolder;
            :hover{
                background-color: #b3c526;
            }
        }
    }
}
/*FOOTER*/
footer{
    background-color: #1a1919;
    font-size: 13px;
    font-weight: lighter;
    bottom: 0;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}
    .footer__menu{
        padding: 1rem;
    }
    .footer__link{
        display: flex;
        flex-direction: column;
    }
    .footer__link{
        a{
            font-weight: 500;}
            :hover{
                color: #757474;}
    }
    .fa {
        display: none;
        padding: 15px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        border-radius: 50%;
        :hover {
            opacity: 0.7;
        }
      }
    
    .copyright{
        color: grey;
        margin-top: 15px
    }

ul{
    list-style-type: none;
    display: inline;    
}

a{
    color: white;
    font-weight: 600;
    text-decoration: none !important; 
    :hover{
        color: white;
    }
}

.titulos{
    color: $color-mediafit;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3{
    font-size: 16px;
}
h4 {
    color: white;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
h5{
    font-size: 13px;
    font-weight: 600;
    color: $color-mediafit;
    margin-top: 0%;
    margin-block-end: 1.67em;
}



@media (max-width: 768px){

    /*INDEX*/
.intro{
    margin-left: 0%;
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    .intro__cambio{
        font-size: 25px;}
        .intro__parrafo{
            font-size: 15px;
            font-weight: 500;}   
    .intro__inscribirme{
        margin-top: 60px;
        a{
            background-color: $color-mediafit;
            color: black;
            padding: 12px 30px 12px 30px;
            border-radius: 3px;}
            :hover{
                background-color: $background-items;
                color: $color-mediafit;
                border: 1px solid  $color-mediafit;
                transition: .4s;}
        }
}

    /*NAV*/
header{
    label {
    display: block;
    margin-left: 2%;}
    nav{
        position: absolute;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
        .logo{
            display: none;
        }
        #navegador{
            flex-direction: column;}
        }
        #btn-menu:checked ~nav {
            margin: 0;
        }
    }
    /*PLANES*/
.contenedorTabla{
    .contenedorTabla__planes{
        grid-template-rows: auto;
        grid-row-gap: 30px;
    grid-template-areas: 
    "titulo titulo titulo"
    "plan1 plan1 plan1"
    "plan3 plan3 plan3"
    "plan2 plan2 plan2"
    "contacto contacto contacto"
    }
        .contenedorTabla__planes__box2{
            grid-row-gap: 3px;
            border-radius: 5px;
        }
        .contenedorTabla__planes__box3{
            grid-row-gap: 3px;
        }
        .contenedorTabla__planes__box4{
            grid-row-gap: 3px;
        }
        .contenedorTabla__planes div.boton-buy{
        border-radius: 0 0 4px 4px;
        }
        .contenedorTabla__planes li {
            padding-bottom: 15px;
        }
}

    /*STAFF*/
    
.fondo__staff{
    p{
        font-size: 15px;
        padding-left: 2vh;
        padding-right: 2vh;
    }
}
.tablaStaff{
.tablaStaff__item{
    height: 25vh;
    .tablaStaff__item__skill{
        margin-left: 10%;
        margin-top: 0;
        padding-top: 10vh;
        font-size: 12px;}
        li{
            display: none;
        }
    }
}


/*GIMNASIO*/
.fondo__gimnasio{
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 20px;
}
main{
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    .sedeDireccion{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        background-color: $background-items;
        width: 100%;
        height: 250px;
        box-shadow: $sombra-box;
        margin-top: 80px;
        margin-bottom: 40px;
        padding-top: 30px;
        .mapa{
            height: 100%;
            width: 100vw;
            margin-top: 10px;
            padding-left: 0px;            
            margin-left: 0px;
        }
        .infoMapa{
            text-align: center;
            margin-left: 0;
            margin-top: 0;
            text-transform: uppercase;     
            h2{
                margin-top: 0px;
                font-size: 18px;
            }
            p{
                font-size: 14px;
                line-height: 8px;
            }         
        }        
    }    
    .videoyoutube{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        background-color: #252525;
        width: 100%;
        height: 250px;
        box-shadow: $sombra-box;
        margin-top: 80px;
        margin-bottom: 40px;
        padding-top: 30px;
        .videoGim{
            width: 100vw;
            height: 100%;
            padding-right: 0px;
        }
        .infoVideo{
            text-align: center;
            padding-right: 0px;
            margin-top: 0px;
            text-transform: uppercase;  
            h2{
                font-size: 18px;
                margin-bottom: 3vw;                                 
            }
            p{
                display: none;
                font-size: 14px;
                line-height: 8px;
            }   
            
        }
    }
}
/*CONTACTO*/
.fondo__contacto{
    padding-right: 0%;
    padding: 0%;
    padding-top: 1%;
    padding-bottom: 2%;
}
.formulario{
    form{
        width: 90%;
    }
}
    /*FOOTER*/
footer{
    height: auto;
    align-items: baseline;
    padding: 10px;}
    .footer__menu{
        padding: 1rem;}
        .hidden{
            display: none;
        }    
    .footer__link{
        display: flex;
        flex-direction: column;
    }
    .footer__link{
        a{
            font-weight: 500;}
            :hover{
                color: #757474;}
    }
    .fa {
        display: inline;
        padding: 15px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        border-radius: 50%;
        :hover {
            opacity: 0.7;
        }
      }
    
    .copyright{
        text-align: center;
        font-size: 10px;
    }
}